textarea {
  min-height: 400px;
}

.post {
  background-color: #f0fff0;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-style: outset;
}

.tdEmails {
  background-color: #f0fff0;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-style: outset;
}

.trEmails {
  background-color: #f0fff0;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-style: outset;
}
