textarea {
  min-height: 400px;
}

.post {
  background-color: #f0fff0;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-style: outset;
}

.tdEmails {
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border-style: outset;
}

.divEmails {
  background-color: #f0fff0;
  height: 8px;
  clear: both;
  padding: 0;
  border-style: outset;
}
